<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-sm-12 col-md-12 col-12">
            <img src="/assets/img/eu.png" class="img-fluid" alt="foto do desenvolvedor">
        </div>

        <div class="col-xxl-6 col-xl-6 col-sm-12 col-md-12 col-12">
            <!-- <img src="/assets/img/intro.png" class="img-fluid img_intro" alt="olá me chamo Gabriel Bastos Barbosa, Desenvolvedor frontend"> -->
            <hr class="col-5">       
            
                    <p> Olá, me chamo</p>
                    <p> Gabriel Bastos Barbosa</p>
                    <p> Desenvolvedor Front</p>                    
              
                <a class="icon_github" href="https://github.com/devbastos"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/gabriel-bastos-barbosa-2315b71b9/"><i class="bi bi-linkedin"></i></a>
                <a href="https://instagram.com/bastos_gabriel13?utm_medium=copy_link"><i class="bi bi-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=5511971868122&text=Ol%C3%A1%2CGabriel"><i class="bi bi-whatsapp"></i></a>          

                <div class="col-5">                    
                   <a href="https://www.bing.com/search?q=drive&cvid=907f2d522901425587ed870ff923f5bf&aqs=edge.0.69i59j0l8.1166j0j1&pglt=2083&FORM=ANNTA1&PC=U531"><button  type="button" class="btn">Download CV</button></a> 
                </div>
            </div>
        </div>

</div>