
/* .icon_github{
    margin-left:10.7rem;
} */
hr {
   margin-top: 8rem;
    border-bottom:  3px solid #ff914d;
}

p{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.bi {
    color: #FF914D;
    font-size: 2rem;
    margin: 0.5rem;

}

.bi:hover {
    color: white;
    font-size: 1.8rem;
    transform: scale(1, 1);
    transition: 0.2s ease;
}

.btn {
    margin-top: 5rem;
    color: #FF914D;
    padding: 0.5rem;    
    border:1px solid;
}

.btn:hover{
    color: rgb(0, 0, 0);
    background-color: #FF914D;
}