
<hr class="text-white">
<div class="container" >
    <div class="row">
        <div class="col">
            <h1 class="text-white mt-5"> <span>< h1 ></span> Sobre <span>< /h1 ></span></h1>
        </div>

        <div class="text-white">
            <p><span> < P ></span> Minha principal missão como Engenheiro Frontend é levar a melhor experiência possível  dos usuários. Estou em busca de novos desafios na área da tecnologia.
                <br> 
                Estou cursando Engenharia de Software e fazendo especialização front-end.
                <br>
                <br>
                Estou em busca de novos desafios na área da tecnologia em geral, no momento, estou estudando as tecnologias Front-end HTML/CSS/JavaScript/React/Angular e pretendendo estudar java, python com o objetivo de me tornar um desenvolvedor full stack.
                <br>
                <br>
                Estou aberto a propostas de emprego, amo ter novas experiências, trabalhar em grupo, não tenho problema nenhum em conhecer ou trabalhar com novas tecnologias. Caso estiver interessado em bater um papo, estou disponível.
                <br>
                <br>
                Estou me aprimorando como Software Engineer, para que com os meus conhecimentos eu possa desenvolver projetos e aplicações que tenham um impacto positivo na vida das pessoas.
                <br>
                <br>
                Almejo trabalhar fora do Brasil para melhorar meu inglês, conhecer novas culturas, pessoas e ter novas experiências.
                <br>
                <br>
                Gosto e tenho facilidade de ensinar as pessoas. Recebo muito bem críticas construtivas e sugestões, para que eu possa melhorar como pessoa e como profissional, sempre evoluindo meu trabalho. Então, sinta-se a vontade para mandar uma mensagem, entrar em contato para qualquer finalidade, tanto como sugestão, oportunidades, ideias de projetos, críticas construtiva ou Networking. Estou a disposição!  <span>< /P ></span></p>
            <br> 
        </div>

