span {
  color: #ff914d;
}
.card {
  background-color: transparent;
  color: white;
  max-width: 40rem;
  display: inline-block;
}

.card:hover {
  border: solid 2px #ff914d;
}

.btn {
  color: rgb(139, 134, 134);
  padding: 0.5rem;
  border: 1px solid;
  display: flex;
  justify-content: center;
}

.btn:hover {
  color: #ffffff;
  background-color: #ff914d;
}

.card {
  max-width: 25rem;
}
