<hr class="text-white">
<div class="container" id="projetos">
    <div class="row">
        <div class="col">
          <h1 class="text-white mt-5"> <span>< h1 ></span> Portifólio <span>< /h1 ></span></h1>
<br>
<br>
            
            <a href="https://flor-com-amor.vercel.app/" target="_blank">
                    <div class="card ms-2 mt-2 bg-dark text-white" >
                      <img src="/assets/img/florComAmor.jpeg" class="card-img opacity-25" alt="trabalho feito com html.css e js">
                      <div class="card-img-overlay">
                        <h1 class="card-title">Flor com amor</h1>
                        <p class="card-text">website responsivo</p>
                        <p class="card-text"></p>
                                          
                          <a  id="info"><button  type="button" class="btn">Visualizar</button></a> 
                     
                      </div>
                    </div>
              </a>
              
            <a href="https://web-site-surf.vercel.app/" target="_blank">
              <div class="card ms-2 mt-2 bg-dark text-white">
                <img src="/assets/img/websiteSurf.jpeg" class="card-img opacity-25" alt="trabalho feito com html.css e js">
                <div class="card-img-overlay">
                  <h1 class="card-title">Surf Arte</h1>
                  <p class="card-text">website desktop</p>
                  <p class="card-text"></p>

                  <a  id="info"><button  type="button" class="btn">Visualizar</button></a> 

                </div>
              </div>
            </a>

            <a href="https://cadastro-a8lmfu6x1-devbastos.vercel.app/" target="_blank">
              <div class="card ms-2 mt-2 bg-dark text-white">
                <img src="/assets/img/react.jpeg" class="card-img opacity-25" alt="trabalho feito com react e next.js">
                <div class="card-img-overlay">
                  <h1 class="card-title">next.js & React</h1>
                  <p class="card-text">Cadastro simples</p>
                  <p class="card-text"></p>

                  <a  id="info"><button  type="button" class="btn">Visualizar</button></a> 

                </div>
              </div>
            </a>

            

        </div>
    </div>
</div>