<div class="container" id="projetos">
    <div class="row">
        <div class="col">
          <h1 class="text-white mt-5"> <span>< h1 ></span> Portifólio <span>< /h1 ></span></h1>
<br>
<br>
            
            <a href="https://flor-com-amor.vercel.app/" target="_blank">
                    <div class="card ms-2 mt-2 bg-dark text-white" >
                      <img src="/assets/img/florComAmor.jpeg" class="card-img opacity-25" alt="...">
                      <div class="card-img-overlay">
                        <h1 class="card-title">Flor com amor</h1>
                        <p class="card-text">website</p>
                        <p class="card-text"></p>
                                          
                          <a  id="info"><button  type="button" class="btn">Visualizar</button></a> 
                     
                      </div>
                    </div>
              </a>
              

              <div class="card ms-2 mt-2 bg-dark text-white">
                <img src="/assets/img/florComAmor.jpeg" class="card-img opacity-25" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>

              <div class="card ms-2 mt-2 bg-dark text-white">
                <img src="/assets/img/florComAmor.jpeg" class="card-img opacity-25" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>

        </div>
    </div>
</div>