<section id="contatos">

<hr class="text-white" >
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-white mt-5"> <span>< h1 > </span>CONTATOS <span>< /H1 > </span></h2>

                <a href="https://github.com/devbastos"><i class="bi bi-github"></i>devbastos</a> <br><br>
                <a href="https://www.linkedin.com/in/gabriel-bastos-barbosa-2315b71b9/"><i class="bi bi-linkedin"></i>Gabriel Bastos Barbosa </a><br><br>
                <a href="https://instagram.com/bastos_gabriel13?utm_medium=copy_link"><i class="bi bi-instagram"></i>Bastos_gabriel13 </a><br><br>
                <a href="https://api.whatsapp.com/send?phone=5511971868122&text=Ol%C3%A1%2CGabriel"><i class="bi bi-whatsapp"></i>(11) 97186-8122</a><br><br>
        </div>
    </div>
</div>

</section>