span {
    color: #FF914D;
}

.bi {
    color: #FF914D;
    font-size: 2rem;
    margin: 0.9rem;
}

.bi:hover {
    color: white;
    transform: scale(1, 1);
    transition: 0.2s ease;
}

a{    
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

a:hover{
    color: #FF914D;
}

